<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Login</h1>
            <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)" novalidate autocomplete="off">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ngModel name="username" required class="form-control input-underline input-lg" placeholder="{{ 'Username' | translate }}">
                        <error-messages [hidden]="!loginForm.submitted"
                        [data]="loginForm.controls?.username?.errors"></error-messages>
                    </div>

                    <div class="form-group">
                        <input type="password" ngModel name="password" required class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}">
                        <error-messages [hidden]="!loginForm.submitted"
                        [data]="loginForm.controls?.password?.errors"></error-messages>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn">{{ 'Log in' | translate }}</button>
            </form>
        </div>
    </div>
</div>
