/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.error-message {
	font-size: 12px;
	color: #ff4c6a;
	text-align: right;
}
.error-message.left {
	text-align: left;
}