<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="transaction-container" [ngClass]="{collapsed: collapedSideBar}">
    <router-outlet></router-outlet>
</section>
