<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/transaction" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Transaction' | translate }}</span>
        </a>
        <a [routerLink]="['/login']" (click)="onLoggedout()"class="list-group-item">
            <i class="fa fa-power-off"></i>&nbsp;
            <span>{{ 'Logout' | translate }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse' | translate }}</span>
    </div>
</nav>
