<div>
  <h2 class="text-muted">Transaction</h2>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-6">
		<form (ngSubmit)="doTransaction(transactionForm)" #transactionForm="ngForm" role="form">
			<fieldset class="form-group">
				<label>Phone Number</label>
				<input class="form-control" ngModel name="phonenumber" required placeholder="Input Phone Number" pattern="[0-9]*">
				<error-messages [hidden]="!transactionForm.submitted"
				[data]="transactionForm.controls?.phonenumber?.errors"></error-messages>
			</fieldset>
			
			<div class="form-group">
				<label>Operator</label>
				<select ngModel (ngModelChange)="searchVocher(transactionForm)" name="operator" class="form-control" placeholder="Choose Operator"  required>
					<option value="" disabled>Choose Operator</option>
					<option *ngFor="let item of operators; let i = index" [ngValue]="item">{{item}}</option>
				</select>
				<error-messages [hidden]="!transactionForm.submitted"
				[data]="transactionForm.controls?.operator?.errors"></error-messages>
			</div>
			<div class="form-group">
			<label>Voucher</label>
			<select ngModel name="voucher" (ngModelChange)="transactionForm.controls.harga.setValue(setCurrency(transactionForm.value.voucher.harga))" class="form-control" required>
					<option value="" disabled>Choose Voucher</option>
					<option *ngFor="let item of vouchers; let i = index" [ngValue]="item">{{item.pulsa}}</option>
			</select>
			<error-messages [hidden]="!transactionForm.submitted"
			[data]="transactionForm.controls?.voucher?.errors"></error-messages>
			</div>
			<fieldset class="form-group">
				<label>Harga</label>
				<input class="form-control" ngModel name="harga" required disabled>
			<error-messages [hidden]="!transactionForm.submitted"
			[data]="transactionForm.controls?.voucher?.errors"></error-messages>
			</fieldset>
                <button type="submit" class="btn rounded-btn btn-success pull-right">{{ 'Save Transaction' | translate }}</button>
		</form>
	</div>
</div>
